.app-form {
    padding-top: 1.8rem;
    border-top: 1px solid transparentize($blueGrey, .9);
}

.add-option-error {
    margin: 0;
    padding-bottom: 2rem;
    color: $salmon;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

.add-option {
    display: flex;
}

.add-option__input {
    flex-grow: 1;
    @include border-radius(2px 0 0 2px);
    border: none;
    background-color: darken($blueGrey, 5%);
    padding: 0 0 0 .5rem;
    color: $darkBlue;
    margin-right: .8rem;
    @include transition(.3s ease all);
    &:focus {
        background-color: $lightBlue;
    }
} 

@media screen and ($small-only) {
    .add-option {
        flex-direction: column;
    }
    .add-option__input {
        padding: .8rem;
        margin: 0 0 .5rem;
    }     
}

