.big-button {
    background-color: $rose;
    border-bottom: .3rem solid darken($rose, 5%);
    border-right: .3rem solid darken($rose, 5%);
    padding: 1rem 2rem;
    font-weight: 100;
    width: 100%;
    font-size: 2.3rem;
    color: $lightBlue;
    &:hover {
        background-color: darken($rose, 5%);
    }
    &.modal__button {
        font-size: 2rem;
    }
}

button {
    cursor: pointer;
    @include transition(all .5s ease);
    border: none;
    @include border-radius(4px);
    &:disabled {
        opacity: .2;
        pointer-events: none;
    }
}

.button--link {
    background: none;
    color: $salmon;
    font-size: 1.6rem;
    &:hover {
        color: lighten($salmon, 10%);
    }
}

.option--button {
    font-size: 1.35rem;
}

.add-option--button {
    background-color: $teal;
    padding: 1.15rem;
    color: $white;
    font-size: 1.4rem;
    @include border-radius(0 2px 2px 0);
    &:hover {
        background-color: $vividGreen;
        color: $darkBlue;
    }
}
