.header {
    background-color: $darkBlue;
    padding: 3rem 5vw 1rem;
    box-shadow: 2px 2px 11px -3px $black;
    @include border-radius(8px 8px 2px 2px);
    margin-bottom: .5vw;    
}
.header__title {
    font-family: $displayFont;
    font-size: 5rem;
    margin: 0;
    color: $white;
    font-weight: 100;
    line-height: 4.5rem;
}

.header__subtitle {
    margin: 0 0 2rem;
    font-size: 1.8rem;
    color: $blueGrey;
    font-weight: 100;
}

@media screen and ($small-only) {
    .header {
        margin-bottom: .5rem;    
    }    
}


