.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(all .3s ease);
    z-index: 9;
    background-color: transparentize($teal, .2) !important;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background-color: $darkBlue;
    max-width: 40rem;
    width: 85%;
    outline: none;
    padding: 8rem;
    margin-top: -12vw;
    box-shadow: 2px 2px 11px -3px $black;
    @include border-radius(6px); 
    @include box-sizing(border-box);
}

.modal__title {
    font-family: $displayFont;
    font-size: 3.5rem;
    margin: 0;
    color: $white;
    font-weight: 100;
    line-height: 3.5rem;
}

.modal__body {
    margin: 2rem 0 3rem;
    font-size: 2rem;
    color: $blueGrey;
    font-weight: 100;
    word-break: break-all;
}

@media screen and ($small-only) {
    .modal {
        padding: 8rem 4rem;
        margin-top: -20rem;
    }
}

