.option {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid transparentize($blueGrey, .9);
    padding: 1.2rem 0 1.2rem .8rem;
    margin: 0;
    &:last-of-type {
        border: none;
    }
}

.option__text {
    color: $lightBlue;
    font-size: 1.6rem;
    word-break: break-all;
}