.widget-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid transparentize($blueGrey, .9);
}

.widget__title {
    color: $blueGrey;
    font-weight: 100;
    font-family: $displayFont;
    margin: 0;
    font-size: 1.8rem;
}

.widget__message {
    color: $lightBlue;
    margin: 0;
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
}