html {
    //set rem to base 10
    font-size: 62.5%;
    font-weight: 100;
}

body {
    font-family: $bodyFont;
    margin: 0;
    font-size: 1.6rem;
}

#app, div.appWrapper {
    height: 100vh;
    width: 100vw;
}

div.appWrapper {
    position: relative;
    @include linearGradient($teal, $vividGreen);
    padding: 8vw 0;
    @include box-sizing(border-box);
}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.appBackground {
    position: relative;
    z-index: 1;    
    width: 95%;
    max-width: 70rem;
    margin: 0 auto;
    @include box-sizing(border-box);
}

.appButtonWrap {
    background-color: $darkBlue;
    padding: 1.75rem 5vw;
    box-shadow: 2px 2px 11px -3px $black;
    @include border-radius(2px);    
    margin-bottom: .5vw;    
}

.appBodyWrap {
    background-color: $darkBlue;
    padding: 2.25rem 5vw 4rem;
    box-shadow: 2px 2px 11px -3px $black;
    @include border-radius(2px 2px 8px 8px);    
}

@media screen and ($small-only) {
    div.appWrapper {
        padding-top: 5rem;
    }
    .appButtonWrap {   
        margin-bottom: .5rem;    
    }
    .appBodyWrap {
        background-color: $darkBlue;
        padding-top: 1.25rem;
        box-shadow: 2px 2px 11px -3px $black;
        @include border-radius(2px 2px 8px 8px);    
    }
}

@media screen and ($xlarge-up) {
    div.appWrapper {
        padding-top: 15rem;
    }
}
